Repository The-Nazara-Project/Thanix, pull requests merged in 2024-01, with the labels that each got.

#2 Create LICENSE
  LICENSE
Labels: documentation

#4 Add pre commit infrastructure
  .pre-commit-config.yaml
  .pre-commit-hooks/clippy.sh
  .pre-commit-hooks/rustfmt.sh
Labels: code-quality

#1 Add basic struct generation
  .gitignore
  Cargo.lock
  Cargo.toml
  src/bindgen.rs
  src/main.rs
Labels: rust, dependencies

#7 Add path generation
  src/bindgen.rs
Labels: rust

#10 Add compatibility for stable rustc pipeline
  src/bindgen.rs
Labels: rust

#11 Repackage output to crate form
  Cargo.toml
  src/bindgen.rs
  src/main.rs
  src/templates/Cargo.toml.template
  src/templates/lib.rs.template
Labels: rust, dependencies

#16 Finalize Path Generation
  .gitignore
  Cargo.lock
  Cargo.toml
  src/bindgen.rs
  src/main.rs
  src/templates/Cargo.toml.template
  src/templates/lib.rs.template
  src/templates/path.template
  src/templates/usings.template
  src/templates/util.rs.template
Labels: rust, dependencies

#18 Add singleton class
  Cargo.lock
  Cargo.toml
  README.md
  src/bindgen.rs
  src/main.rs
  src/templates/path.template
  src/templates/usings.template
  src/templates/util.rs.template
Labels: documentation, rust, dependencies

#19 make query parameters optional
  Cargo.lock
  src/bindgen.rs
Labels: rust, dependencies
